// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-title {
  line-height: 1;
}

.overview-text{
  padding: 2rem;
}

.card-title:hover{
  background-color: #9F9EF4;
}
